<!-- <div class="sidebar col-12 col-md-4 no-padding "> -->
<div class="sidebar col-12 col-md-4 no-padding">
  <app-navbar></app-navbar>
  <button name="Start" (click)='getFileList()'>Start</button>
  {{ this.sidebar_resize_visible }}
  <div class="filelist">
    <div class="file" *ngFor="let file of filelist">
      <a href="#" class="file-values" [routerLink]="['viewer', file.file_pk]">
        <h4 class="heading">{{ file.item_name }}</h4>
          <p class="file-obs">{{ file.description }}</p>
      </a>
    </div>
  </div>
  
</div>