<!-- <div class="content col-md-8 d-none d-md-block"> -->
<div class="content col-md-8 d-none d-md-block">
  <nav class="navbar-static-top mt-2 mb-2">
    <form>
      <div class="form-row">
        <div class="col-md-3">
          <select class="form-control">
            <option value=0>File Type</option>
            <option value=1>Novahis</option>
          </select>
        </div>
        <div class="col">
          <input class="form-control" type="text" placeholder="Filename" >
        </div>
        <div class="col-md-offset-4">
          <ul class="nav">
            <li><button class="btn btn-outline-secondary">Cancelar</button></li>
            <li><button class="ml-1 btn btn-outline-success">Guardar</button></li>
          </ul>
        </div>
      </div>
    </form>
  </nav>
  
  <div class="detail container">
    <div class="row">
      <div class="col-4 groups">
        Grupos
      </div>
      <div class="col items">
        Detalle
      </div>
    </div>
  </div>
</div>
