<!-- <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" >
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Edit-INI</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign oudt</a>
    </li>
  </ul>
</nav> -->

<nav class="nav my-navbar">
  <a href="#" class="navbar-left header-icon">
    <i class="icon-menu"></i>
    <span class="header-title">Edit-INI</span>
  </a>
  <button class="navbar-right btn btn-danger" type="button">
      <i class="icon-doc-new"></i>
  </button>
</nav>